.container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.documents {
  display: flex;
  gap: 100px;
  list-style-type: none;
}

.document {
  font-size: 14px;
}

.title {
  border: none;
  background: transparent;
  font-size: 32px;
  width: 100%;
}
